<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/asset/style.css">
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
      Hello world
      <br>
      <form class="" action="/person" method="post">
        Firstname : <input type="text" name="firstname" id="firstname"> <br>
        Lastname  : <input type="text" name="lastname" id="lastname"> <br>
        <input type="submit">
      </form>
  </body>
</html>
