<!DOCTYPE html>
<html ng-app="TestApp">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js">
    </script>
    <title>The Mean Stack</title>
  </head>
  <body ng-controller="MainController as vm">
    <br>
    <ul>
      <li ng-repeat="person in vm.people">{{person.name}}</li>
    </ul>
    <script>
      var clients = <%- JSON.stringify(peoples) %>
    </script>
<script type="text/javascript" src="/assets/js/app.js"></script>
  </body>
</html>
