<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/asset/style.css">
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
      <h1>Hello <%= id %></h1>
      <h2>Query String : <%= Qstr %></h2>
  </body>
</html>
